*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#35344b;
    color:#fff;
    overflow-x:hidden;
}

/*Navbar*/

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 80px;
}

.logo{
    display:flex;
    align-items:center;
}

.dot{
    width:32px;
    height:32px;
    background:#ffb400;
    border-radius:50%;
    margin-right:15px;

    display:flex;
    justify-content:center;
    align-items:center;
}

.dot i{
    color:#2d2c46;
    font-size:18px;
}

.logo h2{
    color:#fff;
    font-size:26px;
    font-weight:600;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:45px;
}

.nav-links a{
    color:#9e9ea8;
    text-decoration:none;
    font-size:17px;
}

.nav-links a.active{
    color:#fff;
    font-weight:600;
}

.nav-links a:hover{
    color:#fff;
}

.nav-icons{
    display:flex;
    align-items:center;
    gap:26px;
}

.nav-icons .fa-bars{
    display:none;
}

@media (max-width:768px){

    .nav-icons .fa-bars{
        display:block;
    }

}

.nav-icons i{
    color:white;
    font-size:20px;
    cursor:pointer;
}

/*Hero*/

.hero{

    display:flex;
    justify-content:space-between;
    align-items:center;

    min-height:78vh;

    padding:0 80px;

}

/*Left*/

.left{

    width:30%;

}

.left h3{

    color:#9e9ea8;
    font-size:55px;
    font-weight:300;

}

.left h1{

   
    color:white;
    font-size:115px;
    font-weight:700;
    line-height:1;
    margin:10px 0 25px;
    white-space: nowrap;

}

.line{

    width:150px;
    height:5px;
    background:#ffb400;
    margin-bottom:25px;

}

.left p{

    color:#9e9ea8;
    font-size:15px;
    line-height:1.9;

}

/*Center*/

.center{

    width:50%;

    display:flex;
    justify-content:center;
    align-items:flex-end;

    position:relative;

}

.circle{

    width:520px;
    height:520px;
    z-index: -1;
    background:#2f2e44;

    border-radius:50%;

}

.center img{

    position:absolute;
    top:-108px;
    width:500px;

    bottom:0;

}

/*Right=*/

.right{

    width:28%;
    color:white;

}

.right h4{

    color:#9e9ea8;
    font-size:20px;
    font-weight:400;

}

.right h2{

    margin:18px 0 25px;

    font-size:20px;
    font-weight:600;

    line-height:1.5;

}

.right a.show-more{

    color:#ffb400;
    text-decoration:none;
    font-size:17px;
    font-weight:500;

    display:inline-flex;
    align-items:center;
    gap:8px;

}

.social{

    display:flex;
    gap:14px;
    margin-top:30px;

}

.icon{

    width:44px;
    height:44px;

    background:#44415c;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    transition:.3s;

}

.icon i{

    color:#ffb400;
    font-size:16px;

}

.icon:hover{

    background:#ffb400;
    cursor:pointer;

}

.icon:hover i{

    color:white;

}

/*Companies*/

.companies{

    width:75%;
    margin:auto;

    background:#44415c;

    display:flex;
    justify-content:space-around;
    align-items:center;

    padding:22px 30px;

    border-radius:14px;

    position:relative;
    top:35px;

    box-shadow:0 20px 40px rgba(0,0,0,.35);

}

.company-box{

    background-color: #2f2e44;
    width: 150px;
    height: 50px;
    display:flex;
    justify-content:center;
    align-items:center;

    gap:12px;

    cursor:pointer;

    transition:.3s;

}

.company-box:hover{

    transform:translateY(-6px);

}

.company-box i{

    font-size:26px;

    color:#3b82f6;

}

.company-box span{

    color:white;

    font-size:19px;

    font-weight:600;

}


/*Services*/

.servicebg{
    background-color: #2f2e44;
    height: 100vh;
    padding-top: 80px;
}

.services{

    width:80%;

    margin:40px auto 120px;
   
    
    display:flex;

    justify-content:space-between;

    gap:80px;

}

/* Left */

.services-left{

    width:50%;

}

.services-left h1{

    color:white;

    font-size:44px;

    font-weight:600;

    line-height:1.25;

}

.services-left p{

    color:#9e9ea8;

    margin:28px 0 45px;

    font-size:15px;

    line-height:1.8;

}

.stats{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    row-gap:35px;

}

.stats h2{

    color:#ffb400;

    font-size:32px;

    font-weight:600;

}

.stats span{

    color:#9e9ea8;

    font-size:14px;

}


/* Right */

.services-right{

    width:60%;

}

.service{

    display:flex;

    align-items:center;

    justify-content:space-between;

    border-bottom:1px solid rgba(255,255,255,.12);

    padding:22px 0;

}

.service img{

    width:110px;

    height:75px;

    object-fit:cover;

    border-radius:10px;

}

.service-text{

    flex:1;

    margin-left:22px;

}

.service-text h3{

    color:white;

    font-size:19px;

    font-weight:500;

}

.service-text p{

    color:#9e9ea8;

    margin-top:8px;

    font-size:14px;

}

.service i{

    color:#ffb400;

    font-size:18px;

}

.service:hover{

    transform:translateX(10px);

    transition:.4s;

}

.Showmore>a{
    color: #ffb400;
    text-decoration: none;
}

/*Responsive Design*/

/* Large Desktop */
@media (max-width:1400px){

    nav{
        padding:25px 50px;
    }

    .hero{
        padding:0 50px;
    }

    .left h1{
        font-size:95px;
    }

    .circle{
        width:470px;
        height:470px;
    }

    .center img{
        width:450px;
        top:-90px;
    }

}


/* Laptop */
@media (max-width:1200px){

    nav{
        padding:20px 40px;
    }

    .hero{
        padding:0 40px;
    }

    .left{
        width:34%;
    }

    .center{
        width:36%;
    }

    .right{
        width:30%;
    }

    .left h3{
        font-size:46px;
    }

    .left h1{
        font-size:75px;
    }

    .left p{
        font-size:14px;
    }

    .circle{
        width:400px;
        height:400px;
    }

    .center img{
        width:390px;
        top:-60px;
    }

    .right h2{
        font-size:18px;
    }

    .companies{
        width:90%;
    }

    .services{
        width:90%;
        gap:50px;
    }

}


/* Tablet */
@media (max-width:992px){

    nav{
        padding:20px;
    }

    .nav-links{
        gap:20px;
    }

    .nav-links a{
        font-size:15px;
    }

    .hero{
        flex-direction:column;
        text-align:left;
        padding:40px 20px;
        gap:40px;
    }


    .left,
    .center,
    .right{
        width:100%;
    }

    .left h1{
        font-size:100px;
        white-space:normal;
    }

    .line{
        width: 40%;
    }

    .left p{
        max-width:100%;
        
    }

    .center{
        order:2;
        height:450px;
    }

    .circle{
        width:360px;
        height:360px;
    }

    .center img{
        width:340px;
        top:0;
    }

    .right{
        order:1;
    }

    .social{
        justify-content:left;
    }

    .companies{
        width:95%;
        flex-wrap:wrap;
        gap:15px;
        padding:20px;
        top:0;
        margin-top:20px;
    }

    .company-box{
        width:45%;
    }

    .servicebg{
        height:auto;
        padding-bottom:60px;
    }

    .services{
        flex-direction:column;
        width:90%;
        gap:50px;
    }

    .services-left,
    .services-right{
        width:100%;
    }

}


/* Mobile */
@media (max-width:768px){

    nav{
        padding:18px;
    }

    .nav-links{
        display:none;
    }

    .logo h2{
        font-size:22px;
    }

    .nav-icons{
        gap:18px;
    }

    .hero{
        padding:20px;
    }

    .left h3{
        font-size:42px;
    }

    .left h1{
        font-size:5rem;
    }

    .left p{
        font-size:14px;
    }

    .circle{
        width:280px;
        height:280px;
    }

    .center{
        height:320px;
    }

    .center img{
        width:260px;
        top:-34px;
    }

    .right h4{
        font-size:16px;
    }

    .right h2{
        font-size:18px;
    }

    .icon{
        width:40px;
        height:40px;
    }

    .companies{
        width:95%;
        padding:18px;
    }

    .company-box{
        width:45%;
        justify-content:center;
        padding:10px;
    }

    .company-box span{
        font-size:17px;
    }

    .services-left h1{
        font-size:34px;
    }

    .services-left p{
        font-size:14px;
    }

    .stats{
        grid-template-columns:repeat(2,1fr);
        row-gap:25px;
    }

    .stats h2{
        font-size:26px;
    }

    .service{
        gap:15px;
    }

    .service img{
        width:90px;
        height:65px;
    }

    .service-text{
        margin-left:10px;
    }

    .service-text h3{
        font-size:17px;
    }

    .service-text p{
        font-size:12px;
    }

}


/* Small Mobile */
@media (max-width:480px){

    .hero{
        gap:20px;
    }

    .left h3{
        font-size:36px;
    }

    .left h1{
        font-size:2.5rem;
    }

    .left p{
        font-size:13px;
    }

    .circle{
        width:230px;
        height:230px;
    }

    .center{
        height:260px;
    }

    .center img{
        width:220px;
    }

    .right h2{
        font-size:16px;
        line-height:1.6;
    }

    .services-left h1{
        font-size:28px;
    }

    .stats{
        grid-template-columns:repeat(2,1fr);
        row-gap:25px;
       
    }

    .stats>div{
        margin-right: 80px;
    }

    .company-box{
        justify-content:center;
    }

}