*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#2d2c46;
}

/*==================
Navbar
===================*/

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 80px;
}

.logo{
    display:flex;
    align-items:center;
}

.dot{
    width:14px;
    height:14px;
    background:#ffb400;
    border-radius:50%;
    margin-right:15px;
}

.logo h2{
    color:#fff;
    font-size:34px;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:45px;
}

.nav-links a{
    color:#d5d5d5;
    text-decoration:none;
    font-size:19px;
}

.nav-links a:hover{
    color:#fff;
}

.nav-icons{
    display:flex;
    gap:30px;
}

.nav-icons i{
    color:white;
    font-size:28px;
    cursor:pointer;
}

/*==================
Hero
===================*/

.hero{

    display:flex;
    justify-content:space-between;
    align-items:center;

    min-height:85vh;

    padding:0 80px;

}

/*==================
Left
===================*/

.left{

    width:30%;

}

.left h3{

    color:#9e9ea8;
    font-size:65px;
    font-weight:300;

}

.left h1{

    color:white;
    font-size:90px;
    line-height:1;
    margin:15px 0 30px;

}

.line{

    width:180px;
    height:5px;
    background:#ffb400;
    margin-bottom:30px;

}

.left p{

    color:#cfcfcf;
    font-size:16px;
    line-height:1.9;

}

/*==================
Center
===================*/

.center{

    width:40%;

    display:flex;
    justify-content:center;
    align-items:flex-end;

    position:relative;

}

.circle{

    width:550px;
    height:550px;

    background:#3c3b56;

    border-radius:50%;

}

.center img{

    position:absolute;

    width:430px;

    bottom:0;

}

/*==================
Right
===================*/

.right{

    width:30%;
    color:white;

}

.right h4{

    color:#bdbdc9;
    font-size:28px;

}

.right h2{

    margin:20px 0;

    font-size:40px;

    line-height:1.5;

}

.right a{

    color:#ffb400;
    text-decoration:none;
    font-size:22px;

}

.social{

    display:flex;
    gap:18px;
    margin-top:35px;

}

.icon{

    width:60px;
    height:60px;

    background:#3a3955;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

}

.icon i{

    color:#ffb400;
    font-size:22px;

}

.icon:hover{

    background:#ffb400;
    cursor:pointer;

}

.icon:hover i{

    color:white;

}

/*=========================
Companies
==========================*/

.companies{

    width:85%;
    margin:auto;

    background:#3b3955;

    display:flex;
    justify-content:space-around;
    align-items:center;

    padding:35px;

    border-radius:12px;

    margin-top:10px;

    box-shadow:0 15px 35px rgba(0,0,0,.3);

}

.company-box{

    background:#2d2c46;

    width:260px;

    padding:30px;

    display:flex;
    justify-content:center;
    align-items:center;

    gap:20px;

    border-radius:10px;

    cursor:pointer;

    transition:.4s;

}

.company-box:hover{

    transform:translateY(-8px);

}

.company-box i{

    font-size:55px;

    color:#3b82f6;

}

.company-box span{

    color:white;

    font-size:42px;

    font-weight:700;

}


/*=========================
Services
==========================*/

.services{

    width:85%;

    margin:120px auto;

    display:flex;

    justify-content:space-between;

    gap:80px;

}

/* Left */

.services-left{

    width:45%;

}

.services-left h1{

    color:white;

    font-size:65px;

    line-height:1.2;

}

.services-left p{

    color:#c8c8c8;

    margin:40px 0;

    font-size:24px;

    line-height:1.8;

}

.stats{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:5px;

}

.stats h2{

    color:#ffb400;

    font-size:42px;

}

.stats span{

    color:#cfcfcf;

    font-size:18px;

}


/* Right */

.services-right{

    width:50%;

}

.service{

    display:flex;

    align-items:center;

    justify-content:space-between;

    border-bottom:1px solid rgba(255,255,255,.2);

    padding:28px 0;

}

.service img{

    width:160px;

    height:110px;

    object-fit:cover;

    border-radius:10px;

}

.service-text{

    flex:1;

    margin-left:25px;

}

.service-text h3{

    color:white;

    font-size:34px;

}

.service-text p{

    color:#cfcfcf;

    margin-top:12px;

    font-size:26px;

}

.service i{

    color:#ffb400;

    font-size:38px;

}

.service:hover{

    transform:translateX(10px);

    transition:.4s;

}